body {
    font-family: 'Open Sans', sans-serif;
}
header {
    height: 20px;
    padding: 15px;
}
header h1 {
    float: left;
    text-transform: uppercase;
    font-size: 1.5em;
}
header nav {
    float: right;
}
header nav a {
    text-decoration: none;
    color: darkgray;
    margin-left: 10px;
    font-size: .9em;
}
header nav a:hover {
    text-decoration: underline;
}
#hero {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url('../img/wine-bg.jpg') no-repeat center fixed;
    padding: 200px 0;
    text-align: center;
    color: #fff;
}
#hero h2 {
    margin-bottom: 50px;
    font-size: 80px;
}
#hero p i {
    font-style: italic;
}
#about article {
    width: 60%;
    float: left;
    text-align: center;
}
#about h3 {
    color: lightgray;
    font-size: .9em;
    padding-top: 150px;
    padding-bottom: 50px;
}
#about h4 {
    font-family: serif;
    font-weight: 900;
    font-size: 1.5em;
    font-style: italic;
    padding-bottom: 50px;
    width: 400px;
    margin: 0 auto;
}
#about div {
    width: 40%;
    height: 600px;
    float: left;
}
#about p {
    width: 400px;
    margin: 0 auto;
    font-size: .8em;
}
#about img {
    padding-left: 126px;
    width: 450px;
    height: 600px;
}
#produce {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url('../img/wine13.jpg') fixed;
    float: left;
    width: 100%;
}
#produce h4 {
    color: white;
    font-family: serif;
    font-weight: 900;
    font-size: 1.5em;
    font-style: italic;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
#produce p {
    color: white;
    width: 800px;
    margin: 0 auto;
    font-size: .8em;
    text-align: center;
    padding-bottom: 100px;
}
#shop div {
    float: left;
    width: 480px;
    text-align: center;
    padding-bottom: 50px;
}
#shop h4 {
    font-family: serif;
    font-weight: 900;
    font-size: 1.5em;
    font-style: italic;
    padding-bottom: 50px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
#shop p {
    width: 400px;
    margin: 0 auto;
    font-size: .9em;
    text-align: center;
    padding-bottom: 15px;
}
#shop img {
    width: 150px;
    height: 350px;
}
.btn {
    background: #91A05D;
    color: white;
    text-decoration: none;
    border: solid;
    border-color: white;
    font-size: 1em;
    padding: 9px 25px;
    text-align: center;
    cursor: pointer;
}