body {
    font-family: 'Antic Slab', serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background: #49494B;
    height: 78px;
}
header h1 {
    color: #ff6e42;
    font-family: 'Istok Web', sans-serif; 
    padding: 14px;
    float: left;
    text-transform: uppercase;
    font-size: 2.5em;
}
header nav {
    padding: 25px;
    float: right;
}
header nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: .9em;
}
header nav a:hover {
    color: #ff6e42;
}
#hero {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    height: 600px;
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.9) 0%, rgba(0, 0, 0, 0.3) 100%), url('../img/run.gif') no-repeat center;
    background-size: 100% auto;
}
#hero h2 {
    color: #ff6e42;
    padding-top: 200px;
    font-family: 'Istok Web', sans-serif;
    font-size: 80px;
    text-shadow: 5px 5px #000;
}
#hero p {
    font-size: 1em;
    font-style: italic;
    text-shadow: 3px 3px #333;
}
#hero div {
    margin-left: 450px;
    padding-top: 25px;
}
#hero div span {
        margin-left: 75px;
}
#hero div span a {
        color: #fff;
        text-decoration: none;
}
#hero .btn:hover {
    background: #ff6e42;
}
#section1 {
    background: #49494B;
    height: 200px;
    margin-top: 10px;
    
}
#section1 img {
    background: blue;
    width: 200px;
    height: 200px;
    float: left;
}
#section1 article {
    padding-top: 25px;
    width: 800px;
    float: left;
    padding-left: px;
}
#section1 h3 {
    color: #ff6e42;
    font-family: 'Istok Web', sans-serif;
    padding-bottom: 10px;
    text-align: center;
    font-size: 2em;
    text-align: right
}
#section1 p {
    padding-left: 150px;
    color: #fff;
    width: 650px;
    text-align: right
}
#section2 {
    margin-top: 10px;
    background: #49494B;
    height: 250px;
}
#section2 div {
    float: left;
    width: 200px;
    margin: 10px 44px;
    text-align: center;
}
#section2 img {
    background: blue;
    width: 200px;
    height: 100px;
}
#section2 h4 {
    font-family: 'Istok Web', sans-serif; 
    font-size: 1.5em;
}
#section2 p {
    font-size: .9em;
}

#section3 {
    margin-top: 10px;
    background: #49494B;
    height: 300px;
    margin-bottom: 10px;
}
#section3 div {
    padding-top: 10px;
    width: 300px;
    float: left;
    margin: 0px 130px;
    text-align: center;
}
#section3 img {
    background: blue;
    width: 300px;
    height: 200px;
}
#section3 span {
    float: right;
}
#section4 {
    background: #49494B;
    height: 200px;
}
#section4 p {
    padding-top: 25px;
    font-size: 1.5em;
    margin: 10px 25px;
    text-align: center;
}
#section4 div {
    margin-left: 450px;
    padding-top: 25px;
}
#section4 div span {
        margin-left: 25px;
}
.btn {
    float: left;
    background: #91A05D;
    color: white;
    text-decoration: none;
    border: solid;
    border-color: white;
    font-size: 1em;
    padding: 9px 25px;
    text-align: center;
    cursor: pointer;
}
